function Main.main 3
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
call startupMenu.new 0
pop temp 0
call Keyboard.readChar 0
pop local 2
push local 2
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
call startupMenu.help 1
pop temp 0
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
